.code-box-outer{
  padding: 20px;
}
.code-inline{
  background-color: #dddddd;
  color: #0D1317;
  padding: 1px 5px;
  line-height: 1.1em;
  font-size: 1.1em;
}
.space{
  width:100%;
  height: 20px;
}
ul.formatted-list li{
	list-style: none;
	line-height: 1.8em;
}
article.block{
  padding: 35px;
}
.textwidget img{
  border: 1px solid #ccc
}
.disqus-space{
  width: 100%;
  margin-top:30px;
  border-top: 2px solid #324958;
  height: 70px;
}
.disqus-outer{
  background-color: #fff;
  padding: 1px 35px;
  margin-bottom: 20px;
}

.list-of-posts{
  .not-visible-on-list{
     display: none;
  }
  .more-link{
     display:none;
  }
}
